<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Hỏi Dân IT 2024</div>
                <div>
                    <a href="https://hoidanit.vn/" target="_blank">Website</a>
                    &middot;
                    <a href="https://www.youtube.com/@hoidanit" target="_blank">Youtube channel</a>
                </div>
            </div>
        </div>
    </footer>

</div>
</body>
</html>