<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/login}" method="post">
    Username: <input th:type="email" class="form-control" th:name="username" placeholder="name@example.com"
        type="text"
        name="username"><br />
    Password: <input th:type="password" class="form-control" placeholder="password" th:name="password"
        type="password"
        name="password"><br />
    <button type="submit">Login</button>
</form>
<p th:text="${message}"></p>
</body>
</html>